<div class="hd nav-shell">
    <ol class="breadcrumb nav-menu">
        <% for (name in theme.menu) { %>
            <li class="nav-menu-item"><a class="ba nav-menu-link" href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
        <% } %>
    </ol>
    <hr class="breadcrumbhr nav-divider">
</div>