<%- partial('_partial/head') %>
<body>
  <div class="hd">
    <%- partial('_partial/nav') %>
  </div>
  <div class="hd">
    <p>搜索功能已移除。</p>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>
